.new-tweet {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

label {
  font-weight: bold;
}

textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 4px solid black;
  background-color: inherit;
}

button {
  background-color: #4056A1;
  color: #ffffff;
}

.alert {
  color: red;
}

#new-tweet-error {
  color: #D8000C;
  background-color: #FFD2D2;
  margin:10px 22px;
  font-size:1em;
  vertical-align:middle;
  font-family: 'Source Sans Pro', sans-serif;
 
}